*{
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    width: 100%;
}



h1{
    width: 100%;
    height: 10vh;
    text-align:left;
    font-size: 50px;
    padding: 0;
    margin: 0;
    background-color:#FFEBCD;
}

#baner{
    
    width: 100%;
    height: 90vh;
    display: flex;
    

}
#photo{
    width: 100%;
    height: 100%;
}

#links{
    height: 20vh;
    width: 100%;
}
#mapdiv{
    height: 80vh;
    width: 100px;
    background-color: black;
    
}

